.topmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 10px 60px 10px 20px;
}
.header-search{
  display: flex;
  align-items: center;
	flex: 1;
}
.header-search input{
  width: 50%;
	height: 1.1rem;
	border:1px solid rgb(233, 230, 230);
	padding:1.2rem;
  border-radius:1.2rem;
  margin:0.6rem;
}
.header-end{
  display: flex;
  align-items: center;
}
.livetoggle {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.livetext {
  font-size: 0.9rem;
  margin-left: 8px;
  margin-right: 8px;
  font-family:Inter;
}

.toggleblue{
  padding-left: 2px;
  object-fit: contain;
  width: 70px;
  height: 16px;
}

.notification {
  margin-left:0.9rem;
  margin-right: 0.9rem;
}

.avtar {
  background-color: aliceblue;
  border-radius: 5px;
  padding: 5px 5px 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.9rem;
}
.avtarimg {
  margin-right: 5px;
}
.nameemail{
  padding: 4px;
}
.name{
  font-family:Inter;
}
.email {
  color: gray;
  margin-top: 3px;
  font-family:Inter;
}

#threedot{
  margin-left: 10px;
  color: gray;
}


/* topheader ends here */

.secondnav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.secondnav div p {
  font-size:0.8rem;
  margin-top: 2.5rem;
  font-weight: 700;
}

.secondnav div select {
  padding: 7px;
  width: 20vw;
  height: 42px;
  border: 1px solid rgb(185, 179, 179);
  color: rgb(150, 147, 147);
  margin-top: 8px;
  border-radius: 5px;
}


button {
  padding: 0.6rem;
  margin-right:0.4rem;
  margin-top: 3.8rem;
  width:7.1rem;
  border: none;
  border-radius: 6px;
  border: 1px solid rgb(185, 179, 179);
}
.search {
  background-color: rgb(26, 26, 168);
  color: white;
  margin-left:0.6rem;
}
.reset {
  background-color: white;
  color: black;
}

.functionbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-top:1.2rem;
  padding:0.6rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 5px;
  
}

.selectedtext {
  display: flex;
  align-items: center;
  font-size:0.8rem;
}
.deletebuttton {
  margin-left:0.6rem;
  margin-top: -1px;
  font-size: 0.7rem;
  color: gray;
}

.buttonsection {
  display: flex;
}

.buttonsection img {
  margin-right: 8px;
  object-fit: contain;
}

.searchbar {
  display: flex;
  align-items: center;
  border: 1px solid rgb(226, 220, 220);
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
}
.searchbar input[type="text"] {
  margin: 6px;
  border: none;
}

.searchicon {
  color: gray;
  margin-top: 5px;
}
.searchbaricon {
  color: gray;
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
}
