.logo {
  margin: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 220px;
  padding: 10px;
  border: 1px solid red;
}
.sidebar a {
  padding: 20px;
  text-decoration: none;
  color: black;
}

.sidebar a img {
  margin-right: 6px;
}

.darkmodetoggle {
  display: flex;
  padding: 20px;
}

.help {
  padding: 20px;
}
.logout {
  margin: 30px;
}
.logout img {
  margin-right: 5px;
}
.help img {
  margin-right: 4px;
}
