.maintable {
  background-color: aliceblue;
}

.bodytable {
  background-color: white;
  margin: 16px;
}
thead,
tbody,
th,
td {
  font-family: Inter;
}
thead th {
  
  height: 44px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
 border-bottom: 2px solid  rgb(233, 230, 230);
}

.table tbody td {
  font-size:12px;
  width: 217px;
  padding: 10px;
}