.maintable {
  background-color: aliceblue;
}

.bodytable{
  background-color: white;
  margin:16px;
}
.table thead{
  height: 44px;
  border:0px, 0px, 3px, 0px;
  font-size:14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
  background-color: rgb(252, 248, 248);
}
.table tbody td {
  font-size:small;
  width:217px;
  padding: 20px;
}
